gpmailers/cgi/GPFormValues.xml

<?xml version='1.0' encoding='UTF-8'?>
<w:definitions          xmlns:w = 'http://schemas.xmlsoap.org/wsdl/'
                     xmlns:soap = 'http://schemas.xmlsoap.org/wsdl/soap/'
                   xmlns:soap12 = 'http://schemas.xmlsoap.org/wsdl/soap12/'
                        xmlns:s = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:http = 'http://schemas.xmlsoap.org/wsdl/http/'
                          xmlns = 'cips.nci.nih.gov/cdr/GPFormValues'
                targetNamespace = 'cips.nci.nih.gov/cdr/GPFormValues'>

 <!--
  ======================================================================
  Types used by the GPFormValues service.

  Passed:

      Nothing.

  Returned:

      Array of ValueSet objects.  Each ValueSet contains the following
      members:

          Name   - string identifying which set is represented
                   (e.g., "Syndromes")
          Values - array of strings for the values allowed for
                   the set (e.g., "Ataxia-telangiectasia")

  ======================================================================
 -->

 <w:types>
  <s:schema  elementFormDefault = 'qualified'
                targetNamespace = 'cips.nci.nih.gov/cdr/GPFormValues'>
   <s:element              name = 'getValueSets'>
    <s:complexType>
     <s:sequence/>
    </s:complexType>
   </s:element>
   <s:element              name = 'getValueSetsResponse'>
    <s:complexType>
     <s:sequence>
      <s:element           name = 'valueSets'
                           type = 'ArrayOfValueSet'/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:complexType          name = 'ArrayOfValueSet'>
    <s:sequence>
     <s:element            name = 'ValueSet'
                           type = 'ValueSet'
                      maxOccurs = 'unbounded'/>
    </s:sequence>
   </s:complexType>
   <s:complexType          name = 'ValueSet'>
    <s:sequence>
     <s:element            name = 'name'
                           type = 's:string'/>
     <s:element            name = 'values'
                           type = 'ArrayOfString'/>
    </s:sequence>
   </s:complexType>
   <s:complexType          name = 'ArrayOfString'>
    <s:sequence>
     <s:element            name = 'string'
                           type = 's:string'
                      maxOccurs = 'unbounded'/>
    </s:sequence>
   </s:complexType>
  </s:schema>
 </w:types>

 <!-- Request/response messages exchange for retrieving form values -->
 <w:message                name = 'getValueSetsSoapIn'>
  <w:part                  name = 'parameters'
                        element = 'getValueSets'/>
 </w:message>
 <w:message                name = 'getValueSetsSoapOut'>
  <w:part                  name = 'parameters'
                        element = 'getValueSetsResponse'/>
 </w:message>

 <!-- Service bindings (SOAP 1.1 and 1.2 supported). -->
 <w:portType               name = 'ServiceSoap'>
  <w:operation             name = 'getValueSets'>
   <w:input             message = 'getValueSetsSoapIn'/>
   <w:output            message = 'getValueSetsSoapOut'/>
  </w:operation>
 </w:portType>
 <w:binding                name = 'ServiceSoap'
                           type = 'ServiceSoap'>
  <soap:binding       transport = 'http://schemas.xmlsoap.org/soap/http'/>
  <w:operation             name = 'getValueSets'>
   <soap:operation   soapAction = 'cips.nci.nih.gov/cdr/GPFormValues/getValueSets'
                          style = 'document'/>
   <w:input>
    <soap:body              use = 'literal'/>
   </w:input>
   <w:output>
    <soap:body              use = 'literal'/>
   </w:output>
  </w:operation>
 </w:binding>
 <w:binding                name = 'ServiceSoap12'
                           type = 'ServiceSoap'>
  <soap12:binding     transport = 'http://schemas.xmlsoap.org/soap/http'/>
  <w:operation             name = 'getValueSets'>
   <soap12:operation soapAction = 'cips.nci.nih.gov/cdr/GPFormValues/getValueSets'
                          style = 'document'/>
   <w:input>
    <soap12:body            use = 'literal'/>
   </w:input>
   <w:output>
    <soap12:body            use = 'literal'/>
   </w:output>
  </w:operation>
 </w:binding>

 <!-- Where the service can be invoked. -->
 <w:service                name = 'Service'>
  <w:port                  name = 'ServiceSoap'
                        binding = 'ServiceSoap'>
   <soap:address       location = 'http://PDQUpdate.cancer.gov/u/gpformvalues'/>
  </w:port>
  <w:port                  name = 'ServiceSoap12'
                        binding = 'ServiceSoap12'>
   <soap12:address     location = 'http://PDQUpdate.cancer.gov/u/gpformvalues'/>
  </w:port>
 </w:service>
</w:definitions>
